h1 {
  color: teal;
  font-size: 24px;
}

.formContainer {
  display: flex;
  justify-content: center;
}

.FormRegistration {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  min-width: 350px;
  gap: 10px;
  input {
    border-radius: 5px;
    height: 30px;
    padding: 5px 10px;
    font-size: 16px;
  }
  button {
    border-radius: 5px;
    height: 30px;
    width: 80%;
    align-self: center;
    background: silver;
    color: black;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    margin-top: 15px;
  }
}

.errorLabel {
  // height: 30px;
}
